<h1>Welcome to Burning Planes</h1>
<% raise %>
<% if current_user.admin == true %>
<h1>Admin</h1>
<div>
<%= link_to 'Create New Airplane', new_airplane_path  %></div>
<div>
<%= link_to 'Create New Flight', new_flight_path  %>
</div>
<% end %>



<h1>Users</h1>
<div>
<%= link_to 'Search Flights', flights_path  %></div>
