<!DOCTYPE html>
<html>
<head>
  <title>BurningPlanes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="template/handlebars" id="seatView">
  <div><p> {{ body }} </p></div>
</script>

<script>
  var App = {};
  App.Views = {};
  App.Models = {};
  App.Collections = {};
</script>
  <%= javascript_include_tag 'application' %>
</body>
</html>
